*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #370537, #264182, #007bba, #00b5cb, #12ebba);
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}
.container{
    height: 350px;
    width: 500px;
    display: grid;  
    place-items: center;
    color: #fff;
  
}
h1{
    font-size: 80px;
 
}
.color-div button{
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
}
#btn1{
  background-color: #4fa10f;
  color: white;
}
#btn2{
    background-color:#502550;
    color: white;
  }
.copycode h2{
   text-align: center;
}
.color{
    margin-top: 40px;
    font-size: 20px;
    background-image: linear-gradient(to right top, #d17dd1, #a7b4d4, #90bdd3, #bdd7da, #91d1c2);;
   color: #333;
    padding: 20px 10px;
    border-radius: 30px;
    white-space: wrap;
    
     
}

